{% extends 'base.html.twig' %}

{% block title %}page non trouvee!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<br><br><br><br>
		<div class=" container  text-center">
			<div class="row">
				<div class="col-lg-6">
					<h1>
						404
					</h1>
					<h1>
						Page non trouvée !!!
					</h1>
				</div>
				<div class="col-lg-6"><img src="{{asset('img/errors/404-1.gif')}}"></div>
			</div>
		</div>
		<br><br><br><br>
	</div>
{% endblock %}
