{% extends 'base.html.twig' %}

{% block title %} Le serveur a rencontré un problème inattendu!
{% endblock %}

{% block body %}

	<link rel="stylesheet" href="{{ asset('css/exceptions.css') }}">


	<div class="example-wrapper">
		<br><br><br><br>
		<div class=" container  text-center">
			<div class="row">
				<div class="col-lg-6">
					<h3>
						500
					</h3>
					<h5>
						Le serveur a rencontré un problème inattendu
					</h5>
				</div>
				<div class="col-lg-6"><img src="{{asset('img/errors/404-1.gif')}}"></div>
			</div>
		</div>
		<br><br><br><br>
	</div>
{% endblock %}
