{% extends 'base.html.twig' %}

{% block title %}Hello AccessDeniedHandlerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<br><br><br><br>
   <div class=" container  text-center">
    <h3> 403 </h3>
     <h5> Seul l’administrateur peut accéder à cette page !!! </h5>
 </div>
 <br><br><br><br>
</div>
{% endblock %}
